In [1]:
import numpy as np, pandas as pd

In [2]:
from pandas import Series, DataFrame

### Series is like an array in numpy except that it has a datalabel and can be indexed

In [3]:
obj=Series([3,6,9,12])

In [4]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [7]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

### Creating a series for world war 2 casualties by countries

In [8]:
ww2_cas=Series([430000,32000,230000,120000],index=['USSR','FRANCE','CHINA','USA'])

In [9]:
ww2_cas

USSR      430000
FRANCE     32000
CHINA     230000
USA       120000
dtype: int64

In [12]:
ww2_cas=Series([430000,32000,230000,120000],index=['USSR','FRANCE','CHINA','USA'])

In [13]:
ww2_cas['USA']

120000

In [14]:
ww2_cas[ww2_cas>4000]

USSR      430000
FRANCE     32000
CHINA     230000
USA       120000
dtype: int64

### To convert Series into a Dictionary use the to_dict() as shown next

In [15]:
ww2_dict=ww2_cas.to_dict()

In [16]:
ww2_dict

{'CHINA': 230000, 'FRANCE': 32000, 'USA': 120000, 'USSR': 430000}

### To convert Dictionary to Series, use the Series() as shown next

In [17]:
ww2_series=Series(ww2_dict)

In [18]:
ww2_series

CHINA     230000
FRANCE     32000
USA       120000
USSR      430000
dtype: int64

### Passing a Dictionary to a Series

In [19]:
countries=['USA','USSR','Sweden','India'] # creating a list

In [20]:
obj2=Series(ww2_dict,index=countries)

In [21]:
obj2

USA       120000
USSR      430000
Sweden       NaN
India        NaN
dtype: float64

In [22]:
pd.isnull(obj2)

USA       False
USSR      False
Sweden     True
India      True
dtype: bool

In [23]:
pd.notnull(obj2)

USA        True
USSR       True
Sweden    False
India     False
dtype: bool

In [24]:
ww2_series

CHINA     230000
FRANCE     32000
USA       120000
USSR      430000
dtype: int64

### Adding object to Series and the resultant will be lined up by index

In [25]:
obj2

USA       120000
USSR      430000
Sweden       NaN
India        NaN
dtype: float64

In [26]:
ww2_series

CHINA     230000
FRANCE     32000
USA       120000
USSR      430000
dtype: int64

In [27]:
ww2_series+obj2

CHINA        NaN
FRANCE       NaN
India        NaN
Sweden       NaN
USA       240000
USSR      860000
dtype: float64

### Series Indexes can be given names

In [28]:
obj2.name='World War II casualties'

In [29]:
obj2

USA       120000
USSR      430000
Sweden       NaN
India        NaN
Name: World War II casualties, dtype: float64

In [31]:
obj2.index.name='Countries'

In [32]:
obj2

Countries
USA       120000
USSR      430000
Sweden       NaN
India        NaN
Name: World War II casualties, dtype: float64