In [3]:
import numpy as np
from pandas import Series, DataFrame as df

In [4]:
import pandas as pd

In [5]:
my_ser=Series([1,2,3,4], index=['A','B','C','D'])

In [7]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
my_index=my_ser.index

In [9]:
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [11]:
my_index[2]

'C'

In [12]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [13]:
my_index[0]

'A'

In [15]:
my_index[0]='Zero'

TypeError: Indexes does not support mutable operations

# Reindex

In [16]:
from numpy.random import randn

In [18]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])

In [19]:
ser2=ser1.reindex(['A','B','C','D','E','F'])

In [20]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

## Filling values for missing index

In [23]:
ser2=ser1.reindex(['A','B','C','D','E','F'], fill_value=0)

In [24]:
ser2

A    1
B    2
C    3
D    4
E    0
F    0
dtype: int64

## Using particular methods for filling values

In [25]:
ser3=Series(['USA','USSR','China'],index=[0,10,20])

In [26]:
ser3

0       USA
10     USSR
20    China
dtype: object

In [27]:
ranger=range(15)

In [29]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [30]:
ser3.reindex(ranger, method='ffill') #ffill is called forward fill

0      USA
1      USA
2      USA
3      USA
4      USA
5      USA
6      USA
7      USA
8      USA
9      USA
10    USSR
11    USSR
12    USSR
13    USSR
14    USSR
dtype: object

In [38]:
dframe=df(randn(25).reshape((5,5)),index=['A','B','D','E','F'], 
          columns=['col1','col2','col3','col4','col5'])

In [39]:
dframe

       col1      col2      col3      col4      col5
A -1.140338  1.557829  0.626288 -0.397108  0.471715
B  2.890655  0.879693 -0.469356  1.444020 -1.212178
D  0.683425 -0.558920 -0.334575 -1.192944 -1.894883
E -0.357532 -0.005715  0.618152  0.780920 -0.246939
F  0.815596 -0.388811  1.500810 -0.869454  1.524272

In [42]:
dframe2=dframe.reindex(['A','B','C','D','E','F'])

In [43]:
dframe2

       col1      col2      col3      col4      col5
A -1.140338  1.557829  0.626288 -0.397108  0.471715
B  2.890655  0.879693 -0.469356  1.444020 -1.212178
C       NaN       NaN       NaN       NaN       NaN
D  0.683425 -0.558920 -0.334575 -1.192944 -1.894883
E -0.357532 -0.005715  0.618152  0.780920 -0.246939
F  0.815596 -0.388811  1.500810 -0.869454  1.524272

In [44]:
newcols=['col1','col2','col3','col4','col5','col6']

In [45]:
dframe2.reindex(columns=newcols)

       col1      col2      col3      col4      col5  col6
A -1.140338  1.557829  0.626288 -0.397108  0.471715   NaN
B  2.890655  0.879693 -0.469356  1.444020 -1.212178   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.683425 -0.558920 -0.334575 -1.192944 -1.894883   NaN
E -0.357532 -0.005715  0.618152  0.780920 -0.246939   NaN
F  0.815596 -0.388811  1.500810 -0.869454  1.524272   NaN

In [46]:
dframe

       col1      col2      col3      col4      col5
A -1.140338  1.557829  0.626288 -0.397108  0.471715
B  2.890655  0.879693 -0.469356  1.444020 -1.212178
D  0.683425 -0.558920 -0.334575 -1.192944 -1.894883
E -0.357532 -0.005715  0.618152  0.780920 -0.246939
F  0.815596 -0.388811  1.500810 -0.869454  1.524272

In [48]:
dframe.ix[['A','B','C','D','E','F'],newcols] # using ix[] to quickly reindex the dataframe

       col1      col2      col3      col4      col5  col6
A -1.140338  1.557829  0.626288 -0.397108  0.471715   NaN
B  2.890655  0.879693 -0.469356  1.444020 -1.212178   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.683425 -0.558920 -0.334575 -1.192944 -1.894883   NaN
E -0.357532 -0.005715  0.618152  0.780920 -0.246939   NaN
F  0.815596 -0.388811  1.500810 -0.869454  1.524272   NaN