In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
arr=np.array([[1,2,np.nan],[np.nan,3,4]])

In [6]:
arr

array([[  1.,   2.,  nan],
       [ nan,   3.,   4.]])

In [7]:
dframe1=DataFrame(arr,index['A','B'],columns=['One','Two','Three'])

NameError: name 'index' is not defined

In [8]:
dframe1=DataFrame(arr,index=['A','B'],columns=['One','Two','Three'])

In [9]:
dframe1

   One  Two  Three
A    1    2    NaN
B  NaN    3      4

In [12]:
dframe1.sum(axis=1)

A    3
B    7
dtype: float64

In [13]:
dframe1

   One  Two  Three
A    1    2    NaN
B  NaN    3      4

In [16]:
dframe1.min()

One      1
Two      2
Three    4
dtype: float64

In [17]:
dframe1.idxmin() # To find the index of the minimum

One      A
Two      A
Three    B
dtype: object

In [18]:
dframe1.idxmax()

One      A
Two      B
Three    B
dtype: object

In [19]:
dframe1.cumsum() # gives the accumulation sum

   One  Two  Three
A    1    2    NaN
B  NaN    5      4

In [20]:
dframe1.desc()

AttributeError: 'DataFrame' object has no attribute 'desc'

In [21]:
dframe1.describe() # The describe() provides summary statistics

       One       Two  Three
count    1  2.000000      1
mean     1  2.500000      4
std    NaN  0.707107    NaN
min      1  2.000000      4
25%      1  2.250000      4
50%      1  2.500000      4
75%      1  2.750000      4
max      1  3.000000      4

In [22]:
from IPython.display import YouTubeVideo

In [23]:
import pandas.io.data as pdweb
import datetime

In [25]:
prices = pdweb.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),
                              end=datetime.datetime(2013,1,1))['Adj Close'] # Adj_Close is the closing price

RemoteDataError: No data fetched using '_get_hist_yahoo'