## Dropping entries from the dataframe

In [1]:
import numpy as np, pandas as pd
from pandas import Series, DataFrame as df

In [2]:
ser1=Series(np.arange(3), index=['a','b','c'])

In [3]:
ser1

a    0
b    1
c    2
dtype: int32

In [4]:
ser1.drop('a')

b    1
c    2
dtype: int32

In [5]:
dframe1=df(np.arange(9).reshape(2,2))

ValueError: total size of new array must be unchanged

In [6]:
dframe1=df(np.arange(9).reshape(3,3))

In [7]:
dframe1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [8]:
dframe1.drop(1)

   0  1  2
0  0  1  2
2  6  7  8

In [9]:
dframe1.drop([:1])

SyntaxError: invalid syntax (<ipython-input-9-af4f03d619e8>, line 1)

In [10]:
dframe1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [11]:
dframe2=dframe1.drop(1)

In [12]:
dframe2

   0  1  2
0  0  1  2
2  6  7  8

In [13]:
dframe2.drop(2,1)

   0  1
0  0  1
2  6  7