In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame as df

In [10]:
ser1=Series(np.arange(3),index=['A','B','C'])

ser1=ser1*2

In [11]:
ser1

A    0
B    2
C    4
dtype: int32

In [13]:
ser1['B']

2

In [14]:
ser1[1]

2

In [15]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [16]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [17]:
ser1[ser1>3]

C    4
dtype: int32

In [18]:
ser1[ser1>3]=10

In [19]:
ser1

A     0
B     2
C    10
dtype: int32

In [21]:
dframe=df(np.arange(25).reshape((5,5)),index=['DEL','JHS','HARY','CHD','PUNJ'], 
          columns=['A','B','C','D','E'])

In [22]:
dframe

       A   B   C   D   E
DEL    0   1   2   3   4
JHS    5   6   7   8   9
HARY  10  11  12  13  14
CHD   15  16  17  18  19
PUNJ  20  21  22  23  24

In [23]:
dframe['B']

DEL      1
JHS      6
HARY    11
CHD     16
PUNJ    21
Name: B, dtype: int32

In [24]:
dframe[['B','E']]

       B   E
DEL    1   4
JHS    6   9
HARY  11  14
CHD   16  19
PUNJ  21  24

In [25]:
dframe[dframe['C']>8]

       A   B   C   D   E
HARY  10  11  12  13  14
CHD   15  16  17  18  19
PUNJ  20  21  22  23  24

In [26]:
dframe[dframe>10]

       A   B   C   D   E
DEL  NaN NaN NaN NaN NaN
JHS  NaN NaN NaN NaN NaN
HARY NaN  11  12  13  14
CHD   15  16  17  18  19
PUNJ  20  21  22  23  24

In [27]:
dframe>10

          A      B      C      D      E
DEL   False  False  False  False  False
JHS   False  False  False  False  False
HARY  False   True   True   True   True
CHD    True   True   True   True   True
PUNJ   True   True   True   True   True

In [28]:
dframe[dframe>10]=99

In [29]:
dframe

       A   B   C   D   E
DEL    0   1   2   3   4
JHS    5   6   7   8   9
HARY  10  99  99  99  99
CHD   99  99  99  99  99
PUNJ  99  99  99  99  99

In [30]:
dframe.ix['DEL']

A    0
B    1
C    2
D    3
E    4
Name: DEL, dtype: int32