#### Objective

The objective of this notebook is to demonstrate feature encoding strategies

In [2]:
# import the packages
import numpy as np
import pandas as pd
import category_encoders as ce

In [4]:
# make some data
df = pd.DataFrame({
 'id':[10,20,30,40,50],
 'gender':["male","female","female","male","female"],
 'mood':["happy","sad","happy","sad","happy"],
 'outcome':[1, 1,0,0,0]})

In [5]:
df

   id  gender   mood  outcome
0  10    male  happy        1
1  20  female    sad        1
2  30  female  happy        0
3  40    male    sad        0
4  50  female  happy        0

In [20]:
# instantiate an encoder - here we use Binary()
ce_binary = ce.BinaryEncoder()

In [23]:
# fit and transform and presto, you've got encoded data
ce_binary.fit_transform(df)

   gender_0  gender_1  mood_0  mood_1  id  outcome
0         0         1       0       1  10        1
1         1         0       1       0  20        1
2         1         0       0       1  30        0
3         0         1       1       0  40        0
4         1         0       0       1  50        0

In [19]:
# instantiate an encoder - here we use one_hot()
ce_one_hot = ce.OneHotEncoder()

In [24]:
ce_one_hot.fit_transform(df)

   gender_1  gender_2  gender_-1  mood_1  mood_2  mood_-1  id  outcome
0         1         0          0       1       0        0  10        1
1         0         1          0       0       1        0  20        1
2         0         1          0       1       0        0  30        0
3         1         0          0       0       1        0  40        0
4         0         1          0       1       0        0  50        0